<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- meta %}
    <link rel="stylesheet" href="styles.css"></link>
    {%- styles %}
</head>

<body>
    {%- navbar %}
    <main>
        {%- body %}
    </main>
    {%- footer %}
    {%- scripts %}
</body>

</html>